:root {
  --primary-color: #cadee5;
  --secondary-color: #2c3b57;
  --tertiary-color: #a5a5a5;
}

.top-banner {
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.MuiPaper-root {
  background-color: var(--primary-color);
}

/* .first-name {
  color: var(--secondary-color);
} */

.last-name {
  color: var(--tertiary-color);
}

/* .name-sub {
  color: var(--tertiary-color);
} */